#CourseList {
  width: 95%;
  margin: 2rem auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

#CourseList th {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

#CourseList td {
  padding: 0.5rem;
}

#CourseList tbody tr:nth-child(odd) {
  background-color: #f5f5f5ab;
}
